My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente virtual automatizado para la gestión del Registro Global de Capturas de pesca. Tu objetivo es interactuar de manera educada con el pescador. Cuando el pescador te proporcione los datos de una captura (como la especie, fecha, peso, tamaño y ubicación), debes extraerlos con precisión y utilizar obligatoriamente tu herramienta de MongoDB para insertar un nuevo documento. Debes estructurar los datos asignándolos exactamente a los campos: especie, fecha, peso, tamano, ubicacion y pescador"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        -208
      ],
      "id": "4282d6c2-23a1-495f-94f9-c94c2e53531b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        64,
        256
      ],
      "id": "9eb6a711-4f17-4e7f-b41e-0e62bb008117",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LN8O9VPSSxlTUF2F",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        240,
        224
      ],
      "id": "08cbf4d3-7cad-4679-aa38-7f7a01ac55e3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -208
      ],
      "id": "f7f1a64b-17aa-4564-b46c-58cba769da58",
      "name": "Send a text message",
      "webhookId": "1baeadb2-4d18-4933-8ac6-78d83f5628f6",
      "credentials": {
        "telegramApi": {
          "id": "iqd1Hk7D5yGwKQWI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -208
      ],
      "id": "c9a9b783-c099-41d7-8cb2-9c99d73bfb95",
      "name": "Telegram Trigger",
      "webhookId": "9586be33-dc89-445c-a33f-c85723577827",
      "credentials": {
        "telegramApi": {
          "id": "iqd1Hk7D5yGwKQWI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Sirve para buscar y consultar las capturas de pesca existentes de un pescador en la base de datos utilizando su nombre",
        "collection": "capturas",
        "options": {},
        "query": "={}"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.3,
      "position": [
        432,
        192
      ],
      "id": "a1191cee-216b-4bec-bac6-2bb646b3a699",
      "name": "Find documents in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "GUHckP1E0jEAwpHF",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insert documents in MongoDB",
        "operation": "insert",
        "collection": "capturas",
        "fields": "={{ $fromAI('Fields', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.3,
      "position": [
        672,
        208
      ],
      "id": "d71bdafc-4ac8-449f-bae5-7ef736ff9893",
      "name": "Insert documents in MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "GUHckP1E0jEAwpHF",
          "name": "MongoDB account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents in MongoDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents in MongoDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0a994e03-c41f-4aea-8c7f-a94aab1de37b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f3f7f4121e6941d91dcaf8768a4c1a243339613cd39fa5a0e715ffa88d21950"
  },
  "id": "cgRZuakjFCmFAnUY",
  "tags": []
}